@model CreateViewModel

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Add a new employee</h1>
                        </div>
                        <form class="user" asp-action="Create" asp-controller="Admin" enctype="multipart/form-data">
                            <div class="form-group">
                                <input asp-for="@Model.ProfilePicture" class="form-control form-control-user">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="@Model.Username" type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Username">
                                    <span asp-validation-for="@Model.Username" class="text-danger text-decoration-none small"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="@Model.Name" type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Full Name">
                                    <span asp-validation-for="@Model.Name" class="text-danger text-decoration-none small"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="@Model.Email" type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                                    <span asp-validation-for="@Model.Email" class="text-danger text-decoration-none small"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="@Model.Department" type="text" class="form-control form-control-user" id="exampleInputEmail" placeholder="Department">
                                    <span asp-validation-for="@Model.Department" class="text-danger text-decoration-none small"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="@Model.NewPassword" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="New Password">
                                    <span asp-validation-for="@Model.NewPassword" class="text-danger text-decoration-none small"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="@Model.ConfirmPassword" type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Confirm Password">
                                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger text-decoration-none small"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Add Employee
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>